body{
    height: 100vh;
    background-color: rgb(172, 255, 227);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, th{
    text-decoration: underline;
}

.total{
    display: flex;
    width: 50%;
    margin:auto;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 20px;
    align-items: center;
}
.enunciado{
    display: flex;
    width: 50%;
    margin:auto;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
}

.tabela{
    display: flex;
    width: 50%;
    margin:auto;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
}

table{
    border-collapse: collapse;
}

td, th{
    text-align: center;
    border: 1px solid black;
}

.calculos{
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    text-align: center;
}

button{
    background-color: rgb(66, 0, 141);
    color: rgb(255, 40, 40);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    width: 200px;
}