@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Prompt", sans-serif;
}

.container{
    display: flex;
    align-items: flex-start;
    width: 100%;
    /* * A altura mínima = Tela toda (O site usa a tela toda verticalmente) */
    /* ~ De início um <div> usa toda a horizontal (width) porém a altura (height) ele só usa o que ele "ocupa" para usar todo aplicamos '100vh' */
    min-height: 100vh;
    background: #020024;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
    padding: 10px;
}

.task-app{
    /* ^ A diferença entre width e max-width=
    * width é a largura que ele "TENTARÁ" alcançar (100% a largura do pai dele o .container) mas quando usa-se o "max-width" junto o "max" será o limite dele */
    /* todo Se a tela do dispositivo for menor que 540px de largura, então ele obdecerá a regra de 100% width. SENÃO ele limitará a 540px */
    width: 100%;
    max-width: 540px;
    background-color: white;
    /* ! 100px = topo / auto = direita / 20px = baixo / auto = esquerda */
    /* ? Centralizando (auto) */
    margin: 100px auto 20px;
    /* & 40px = topo / 30px = direita / 70px = baixo / 30px = esquerda */
    padding: 40px 30px 70px;
    border-radius: 10px;

}

.task-app h2{
    color: #7776B3;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.task-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}
input{
    /* ^ Flex 1 = Já que o pai deles (.row) é flex. O input flex 1 representa tamanho comum para ele */
    flex: 1;
    border: none;
    outline: none; /* Outline é uma borda extra*/
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    /* ^ Não permite o usuário selecionar o texto da tarefa */
    user-select: none;
    cursor: pointer;
    /* ^ Posicionamento relativo = Quase igual ao comum (Sem definir position). Porém aqui ele permite posicionar à vontade e tem um EFEITO ESPECIAL quando algum item dentro dele é position absolute */
    position: relative;
}

/* ^  Dois "dois pontos" :: - Pseudo Elemento
^ É quase como uma 'tag fake' colocado ANTES E DENTRO do <li> (A esquerda)   */
ul li::before{
    /* ^ Content = 'Conteudo':
    * O que estará escrito dentro da tag fake <fake>~aqui~</fake> */
    content: '';
    /* ^ O pai dele <li> é relative!! */
    position: absolute;
    /* ^ Altura e largura do elemento */
    height: 28px;
    width: 28px;
    background-image: url("../img/desmarcado.png");
    background-size: cover;
    background-position: center;
    /* ^ Posicionando o elemento com top e left*/
    top: 12px;
    left: 8px;
    transition: all 0.4s;
}

/* ^ para os <li> com classe 'checked' */
ul li.checked{
    color: #555;
    text-decoration: line-through;
}

/* ^ Antes dos <li> marcados */
ul li.checked::before{
    background-image: url("../img/marcado.png");
}

li span{
    position: absolute;
    right: 0;
    top: 5;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

li span:hover{
    background-color: #edeef0;
}